@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #1256EA;
}
.content .ppp{
  font-size: 20px;
  color:#F84D07;
}

.primary-text {
  color: #1256EA;
}

/* Header Start */
header {
  height: 15vh;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#navbar img {
  width: 150px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
  color: #1f1f1f;
}

nav ul li .h:hover {
  border-bottom: 2px solid #1256EA;
}

/* dropdown */
span i{
    margin-left: 20px;
    text-align: center;
}
.dropdown{
    width: 190px;
  background: #fff;
  position: absolute;
  z-index: 999;
  display: none;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #eff3fa;
}

.dropdown .drop{
  width: 230px;
  margin-left: 190px;
  background: #fff;
  position: absolute;
  top: 10px;
  z-index: 999;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #eff3fa;
}

.dropdown .q:hover .drop{
  display: block;
}

.dropdown li{
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #eff3fa;
}
.dropdown li a:hover{
  color: #1256EA;
}

ul li:hover ul.dropdown{
  display: block;
}

/* dropdown end */

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
}


header * {
  z-index: 10;
}
/* search start */
.search {
    /* margin-left: 5px; */
    margin-top: 5px;
    border: 1px solid #1256EA
    ;
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
  }
  
  .but {
    background-color: #1256EA;
    height: 47px;
    border: none;
    cursor: pointer;
  }
  
  .but i {
    width: 40px;
    color: #fff;
    margin-right: 7px;
  }
  
  input {
    font-size: 17px;
    height: 45px;
    border: none;
    text-align: center;
    width: 250px;
    transition: width 0.5s;
  }
  
  .search:hover > input {
    width: 260px;
  }
  /* search end */

  #navbar .login a{
    background: #fff;
    color: #1256EA;
    padding: 15px 25px;
    border: 1px solid #1256EA;
    border-radius: 10px;
    font-size: 16px;
    margin-left: -100px;
    text-decoration: none;
    transition: .5s;
  }
  #navbar .login a:hover{
    background:#1256EA ;
    color: #fff;
  }

  #navbar .start a{
    background: #1256EA;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #1256EA;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 50px;
    text-decoration: none;
    transition: .5s;
  }
  #navbar .start a:hover{
    background: #F84D07;
  }

  /* Responsive Start */
  @media (max-width: 1024px) {
    #navbar img {
      margin-left: 20px;
    }
    #navbar .search{
      display: none;
    }
  
    #navbar ul {
      margin-right: 20px;
    }
  
    #navbar ul li a {
      padding: 10px;
    }
  }

  @media (max-width: 600px) {
    #navbar {
      flex-direction: column;
    }

    #navbar img {
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: -200px;
    }

    #navbar .search{
      display: none;
    }
    #navbar .login{
      /* display: none; */
      position: absolute;
      top: 30px;
      right: 100px;
    }
    #navbar .start{
      display: none;
    }
  
    #navbar ul {
      margin-right: 40px;
    }
  
    #navbar ul li a {
      padding: 10px;
      z-index: 999;
    }
  }


/* Header End */

/* about start */

/* SEC1 Start */
.about {
    height: 100vh;
    background:#faf9f9 ;
    position: relative;
  }

  .about .sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about .sec1 .oti{
    width: 400px;
    margin-top: 100px;
    margin-left: 200px;
  }
  .about .sec1 .oti .our{
    color: #F84D07;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .about .sec1 .oti h2{
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 20px;
  }


  .about .sec1 .vid{
    width: 500px;
    margin-right: 200px;
    margin-top: 100px;
    border-radius: 10px;
  }

  .about .sec1 .vid video{
    width: 100%;
    border-radius: 10px;
  }

  @media (max-width: 1024px){
    .about .sec1{
      width: 1200px;
      margin-left: -80px;
    }
    .about .sec1 .oti{
      margin-right: 30px;
      width: 450px;
    }
  }
  @media (max-width: 600px){
    .about .sec1{
      margin-left: -480px;
      flex-direction: column;
    }
    .about .sec1 .oti{
      margin-right: 30px;
      width: 350px;
    }
    .about .sec1 .vid{
      margin-left: 350px;
      width: 350px;
    }
  }

  /* SEC1 END */

  /* SEC2 Start */

  .about .sec2{
    padding-bottom: 100px;
    margin: 100px 0;
    background: linear-gradient(#769ef4,#1256EA);
  }
  .about .sec2 .funfact{
    padding-left: 600px;
  }
  .about .sec2 .fun{
    padding-top: 100px;
    color: #f7ae7e;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .about .sec2  h2{
    color: #fff;
    font-size: 38px;
    font-weight: bolder;
  }
  /*  */
 
  .nums {
    width: 400px;
    display: flex;
    padding-left: 200px;
  }
  .nums .num {
    margin-top: 30px;
    border-right: 1px solid rgb(198, 195, 195) ;
    color: #fff;
    /* flex: 1; */
    text-align: center;
    font-size: 18px;
    padding: 20px 100px;
  }
  .nums .num span{
    font-weight: bolder;
    font-size: 20px;
  }

  @media (max-width: 1024px){
    .sec2 .funfact{
      margin-left: -270px;
    }
    .sec2 .three{
      margin-left: -270px;
    }
  }
  @media (max-width: 600px){
    .sec2 .funfact{
      margin-left: -570px;
    }
    .sec2 .funfact .fun{
      font-size: 22px;
      margin-left: 120px;
    }
    .sec2 .funfact h2{
      font-size: 32px;
    }
      .sec2 .three .nums{
        margin-left: 60px;
      }
    .sec2 .three .nums .num{
      padding: 10px 0;
      padding-left: 20px;
      font-size: 16px;
    }
    .sec2 .three .nums .num span{
      font-size: 18px;
    }
  }

/* SEC2 END */

/* SEC3 Start */

.team{
	position: relative;
	/* width: 100%; */
	height: 100vh;
	/* background:#ECECEC; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center p{
	color:#F84D07;
	font-size: 18px;
	text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
}

.center h2{
  font-size: 40px;
  font-weight: bolder;

}

.box{
	padding: 15px;
	background: #1256EA;
	border-radius: 15px;
	transition: all .38s ease;
}

.box img{
  height: 150px;
  width: 200px;
}

.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #F84D07;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1024px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
    margin-left: 10px;
	}
	.center h2{
		font-size: 34px;
	}
}
@media(max-width: 600px){
	.team{
		width: 100%;
		padding: 90px 2%;
    margin-left: 10px;
	}
	.center h2{
		font-size: 23px;
	}
  .team .team-content .box img{
    width: 140px;
  }
}

/* SEC3 END */

/* SEC4 Start */

.sec4{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.sec4 .fac{
  background: #1256EA;
  border-radius: 15px;
  padding: 20px;
  height: 500px;
  width: 30%;
  transition: all .38s ease;
}
.sec4 .fac:hover{
transform: translateY(-20px);
}
.sec4 .fac h3{
  color: #f5916a;
  margin:30px 10px;
}

.sec4 .fac p{
  color: #fff;
  line-height: 1.8;
}

.sec4 .str{
  background: #F84D07;
  border-radius: 15px;
  padding: 20px;
  height: 500px;
  width: 30%;
  transition: all .38s ease;
}

.sec4 .str:hover{
  transform: translateY(20px);
  }

.sec4 .str h3{
  color: #fff;
  margin:30px 10px;
}

.sec4 .str p{
  color: #000;
  line-height: 1.8;
}

.sec4 .onl{
  background: #1256EA;
  border-radius: 15px;
  padding: 20px;
  height: 500px;
  width: 30%;
  transition: all .38s ease;
}

.sec4 .onl:hover{
  transform: translateY(-20px);
  }

.sec4 .onl h3{
  color: #F84D07;
  margin:30px 10px;
}

.sec4 .onl p{
  color: #fff;
  line-height: 1.8;
}

@media(max-width: 1024px){
  .sec4{
    width: 100%;
    margin-left: 5px;
  }
  .sec4 .fac{
    height: 45vh;
  }
  .sec4 .str{
    height: 45vh;
  }
  .sec4 .onl{
    height: 45vh;
  }
}
@media(max-width: 600px){
  .sec4{
    width: 100%;
    margin-left: 5px;
    flex-direction: column;
  }
  .sec4 .fac{
    height: 65vh;
    width: 100%;
    margin-bottom: 20px;
  }
  .sec4 .str{
    height: 65vh;
    width: 100%;
    margin-bottom: 20px;
  }
  .sec4 .onl{
    height: 65vh;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* SEC4 END */


/* About END */



 /* Footer Start */

 .footer{
    margin-top: 1800px;
 }
 .footer .container{
	max-width: 1170px;
	margin:auto;
}
.footer .container .row{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.footer .container .row .footer-col ul{
	list-style: none;
}
.footer{
	background-color: #ECECEC;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #1f1f1f;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	/* background-color: #e91e63; */
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #1f1f1f;
	text-decoration: none;
	font-weight: 400;
	color: #1f1f1f;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #1256EA;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #1f1f1f;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #1256EA;
	background-color: #ffffff;
}

.end-footer{
	padding-top: 20px;
	border-top: 1px solid #bbbbbb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 150px;
}

.end-footer .footer-col .be {
	font-size: 16px;
  font-weight: 500;
	text-transform: capitalize;
	/* color: #1f1f1f; */
	text-decoration: none;
	color: #1f1f1f;
	display: block;
	transition: all 0.3s ease;
}

.end-footer .footer-col .be:hover{
	color: #1256EA;
}


/*responsive*/
@media(max-width: 1024px){
  .footer-col{
    margin-bottom: 30px;
}
}
@media(max-width: 600px){
  .footer{
    margin-top: 4200px;

  }
  .footer-col{
    width: 100%;
} 
}


 /* Footer END */